<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage Dealership</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.1/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.1/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js"></script>
</head>
    <body>
        <h1>Manage {{ deal }}</h1>
        <div id="content"></div>
        <script type="text/babel">

            var EditBox = React.createClass({
                 getInitialState: function(){
                     return {data:[], notice: ''};
                 },
                handleEditSubmit: function(user){
                    $.ajax({
                        url: this.props.url+"/"+encodeURIComponent("{{ deal }}"),
                        dataType: 'json',
                        type: 'PUT',
                        data: user,
                        success: function(resp){
                            if(resp['bool']==true){
                                window.location.href='/owner/manage/'+encodeURIComponent(resp['newname']);
                            }
                        }.bind(this),
                        error: function(xhr, status, err){
                            console.error(this.props.url, status, err.toString());
                            this.setState({notice: "Error altering Dealership data"});
                        }.bind(this)
                    });
                },
                dismiss: function(){
                    this.setState({notice: ''});
                },
                render: function() {
                    return(
                            <div className="editBox">
                                <h2>Edit {{ deal }} Info</h2>
                                <p>{this.state.notice}<button onClick={this.dismiss}>Dismiss</button></p>
                                <EditForm url={this.props.url} onEditSubmit={this.handleEditSubmit} name={this.state.data.name} description={this.state.data.description} />
                            </div>
                    );
                }
            });

             var EditForm = React.createClass({
                getInitialState: function(){
                    return{ name: '', description: '', original: '{{ deal }}'};
                },
                 loadDealershipFromServer: function(){
                   $.ajax({
                       url:this.props.url+"/"+encodeURIComponent("{{deal}}"),
                       dataType:'json',
                       type: 'GET',
                       cache: false,
                       success:function(data){
                           this.setState({name: data.name, description: data.description});
                       }.bind(this),
                       error: function(xhr, ststus, err){
                           console.error(this.props.url, status, err.toString());
                       }.bind(this)
                   });
                 },
                 componentDidMount: function(){
                     this.loadDealershipFromServer();
                 },
                handleNameChange: function(e) {
                    this.setState({name: e.target.value});
                },
                handleDescriptionChange: function(e){
                    this.setState({description: e.target.value});
                },
                handleSubmit: function(e){
                    e.preventDefault();
                    var name = this.state.name.trim();
                    var description = this.state.description.trim();
                    this.props.onEditSubmit({name: name, description: description});
                },
                render: function() {
                    return(
                            <form className="editForm" onSubmit={this.handleSubmit}>
                                <p>Name: <input type="text"
                                       placeholder="Name"
                                       value={this.state.name}
                                       onChange={this.handleNameChange}
                                /></p>
                                <p>Description: <input type="text"
                                          placeholder="Description"
                                          value={this.state.description}
                                          onChange={this.handleDescriptionChange}
                                /></p>
                                <input type="submit" value="Submit"/>
                            </form>
                    );
                }
            });

            var Logout = React.createClass({
                handleLogout: function() {
                       $.ajax({
                       url:this.props.url,
                       type: 'GET',
                       success:function(data){
                           window.location.href='/';
                       }.bind(this),
                       error: function(xhr, ststus, err){
                           console.error(this.props.url, status, err.toString());
                       }.bind(this)
                   });
                   },
               render: function(){
                   return(
                           <div class="logoutBtn">
                           <button onClick={this.handleLogout}>Logout</button>
                           </div>
                   );
               }
            });

             ReactDOM.render(
                     <div>
                        <EditBox url="/api/dealership"/>
                         <p></p>
                         <Logout url="/api/owner/logout"/>
                     </div>,
                    document.getElementById('content')
            );
         </script>
    <a href="/owner/manage">Back</a>
    </body>
</html>