<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login Owner</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.1/react.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.1/react-dom.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js"></script>
    </head>
    <body>
        <div id="content"></div>
        <script type="text/babel">

            var LoginBox = React.createClass({
                getInitialState: function(){
                    return {data:[]};
                },
                handleLoginSubmit: function(user){
                    $.ajax({
                        url: this.props.url,
                        dataType: 'json',
                        type: 'POST',
                        data: user,
                        success: function(resp){
                            if(resp['login']==true){
                                window.location.href='/';
                            }
                        },
                        error: function(xhr, status, err){
                            console.error(this.props.url, status, err.toString());
                        }.bind(this)
                    });
                },
                render: function() {
                    return(
                            <div className="loginBox">
                                <h1>Login Client</h1>
                                <LoginForm onLoginSubmit={this.handleLoginSubmit} />
                            </div>
                    );
                }
            });

            var LoginForm = React.createClass({
                getInitialState: function(){
                    return{email:'', password: ''};
                },
                handleEmailChange: function(e){
                    this.setState({email: e.target.value});
                },
                handlePasswordChange: function(e){
                    this.setState({password: e.target.value});
                },
                handleSubmit: function(e){
                    e.preventDefault();
                    var email = this.state.email.trim();
                    var password = this.state.password.trim();
                    if(!email || !password){
                        return;
                    }
                    this.props.onLoginSubmit({email: email, password: password});
                    this.setState({email: '', password: ''});
                },
                render: function() {
                    return(
                            <form className="loginForm" onSubmit={this.handleSubmit}>
                                <p><input type="text"
                                       placeholder="E-mail"
                                       value={this.state.email}
                                       onChange={this.handleEmailChange}
                                /></p>
                                <p><input type="text"
                                       placeholder="Password"
                                       value={this.state.password}
                                       onChange={this.handlePasswordChange}
                                /></p>
                                <input type="submit" value="Login"/>
                            </form>
                    );
                }
            });

            ReactDOM.render(
                    <LoginBox url="/api/client/login"/>,
                    document.getElementById('content')
            );

        </script>
    <a href="/">Back</a>
    </body>
</html>